#mainContainer,
#centerScreen {
    display: flex;
    margin: 0;
    padding: 0;
}

#mainContainer {
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#gridContainer {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.gridDivs {
    border: 1px solid red; /* temporary */
}